p {
   font-size: 4px;
   color: white;
}

body {
   background-repeat: no-repeat;
   background-attachment: fixed;
   margin: 0px;
   padding: 0px;
   background-size: cover;
}

html, body, .container-full, nav{    
      height:100%;
}

nav{
       margin:0px;
}

nav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 7vw;
   box-sizing: border-box;
   transition: .5s;
   z-index: 100;
   opacity: .5;
   background: linear-gradient(#313131,#5c5c5c);
   border-bottom: groove white 5px;
}

nav.scrl {
   transition: .5s;
   opacity: 1;
   height: 5vw;
   border-bottom: groove white 2px;
}

nav ul {
   float: right;
   margin: 0;
   padding: 0;
   display: flex;
}

nav ul li {
   list-style: none;
}

nav ul li a {
   line-height: 7vw;
   color: white;
   padding: 5px 20px;
   font-family: Roboto sans-serif;
   text-decoration: none;
   text-transform: uppercase;
   transition: .5s;
   font-size: 1vw;
}

nav.scrl ul li a {
   transition: .5s;
   line-height: 4.5vw;
   font-size: .8vw;
}

nav img {
   float: left;
   padding: 10px;
   text-decoration: none;
   transition: .5s;
   height: 7vw;
}

nav.scrl img {
   transition: .5s;
   height: 6vw;
}

nav ul li a.active,
nav ul li a:hover {
   color: grey;
   text-decoration: none;
}

nav img:hover {
   cursor: pointer;
}

.contain {
   position: relative;
}

.image {
   display: block;
   width: 60vw;
   height: 30vw;
}

.image2 {
   display: block;
   width: 20vw;
   height: 13vw;
}

.overlay {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: black;
   overflow: hidden;
   width: 60vw;
   height: 30vw;
   -webkit-transform:scale(0);
   transition: .7s ease;
   opacity: .7;
   margin: auto;
   overflow-y: scroll;
}

.overlay2 {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: black;
   overflow: hidden;
   width: 20vw;
   height: 13vw;
   -webkit-transform:scale(0);
   transition: .7s ease;
   opacity: .7;
   margin: auto;
}

.contain:hover .overlay {
   transform: scale(1);
}

.contain:hover .overlay2 {
   transform: scale(1);
}

.text {
   color: white;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
}

/*
.company:hover img {
   -webkit-transform:scale(1.25); /* Safari and Chrome 
   -moz-transform:scale(1.25); /* Firefox 
   -ms-transform:scale(1.25); /* IE 9 
   -o-transform:scale(1.25); /* Opera 
   transform:scale(1.25);
}

.projecticon:hover img {
   -webkit-transform:scale(1.25); /* Safari and Chrome 
   -moz-transform:scale(1.25); /* Firefox 
   -ms-transform:scale(1.25); /* IE 9 
   -o-transform:scale(1.25); /* Opera 
   transform:scale(1.25);
}

.graphics:hover img {
   -webkit-transform:scale(1.25); /* Safari and Chrome 
   -moz-transform:scale(1.25); /* Firefox 
   -ms-transform:scale(1.25); /* IE 9 
   -o-transform:scale(1.25); /* Opera 
   transform:scale(1.25);
}
*/

th {
	font-weight: normal;
}

.box {
   background-color: lightgray;
   width: 100%;
   border: 5px groove white;
   opacity: 0.7;
   filter: alpha(opacity=70);
}

.codebox {
	background-color: black;
	width: 100%;
	border: 1px solid;
}

.title {
   background-color: darkgrey;
   opacity: 0.7;
   filter: alpha(opacity=70);
   border-bottom: 5px groove white;
}

.conbox {
   resize: both;
   overflow: auto;
   opacity: 0.7;
   filter: alpha(opacity=70);
}

hr.style {
   height: 10px;
   border: 0;
   box-shadow: 0 10px 10px -10px #ffffff inset;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
